setuptools==65.5.1  # Fix distutils error di Python 3.12
scipy==1.11.3  # Dependensi librosa
audioread==3.0.1  # Untuk load audio di librosa
soundfile==0.12.1  # Alternatif backend audio
streamlit==1.28.1
librosa==0.10.1
numpy==1.24.3
yt-dlp==2023.10.13
